[Desktop Entry]
Version=1.0.0
Name=Sparrow Wallet
Comment=Sparrow Wallet : Bitcoin Wallet
Exec=sparrow
Icon=${SNAP}/meta/gui/sparrow.png 
Terminal=false
Type=Application
